* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 120px;
    background-color: rgb(245, 212, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}

nav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 40pt;
    font-weight: 600;
    background-image: linear-gradient(to right, #BDD002, #A5A831, #4F8901);
    background-clip: text;
    box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 20px;
    list-style: none;
    font-size: 24pt;
    font-family: "Inter", sans-serif;
    font-weight: 450;
}

a {
    text-decoration: none;
    color: black;
}

#main_picture {
    position: absolute;
    width: 285px;
    height: 400px;
    border-radius: 40px;
    overflow: hidden;
    top: 240px;
    left: 1100px;
    z-index: 2;
}

#main_shadow {
    position: absolute;
    width: 285px;
    height: 400px;
    background-color:green;
    border-radius: 40px;
    top: 210px;
    left: 1150px;
    z-index: 1;
}

#quote {
    position: absolute;
    width: 350px;
    height: 230px;
    background-color: lightgreen;
    border-radius: 40px;
    position: absolute;
    top: 450px;
    left: 90px;
    z-index: 3;
    box-shadow: 10px 10px 10px 10px rgb(201, 191, 191);
    padding-top: 20px;
}

#but {
    height: 50%;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote p {
    font-size: 30pt;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    width: 300px;
    height: 60px;
    background-color: green;
    border: none;
    border-radius: 20px;
    font-size: 24pt;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}











.section-humanity-and-the-enviroment {
    width: 100%;
    height: 100vh;
    background-color: rgb(151, 238, 168);
    padding-top: 120px;
}

.section-humanity-and-the-enviroment>p {
    font-size: 55pt;
    font-family: "Inter", sans-serif;
    font-style: italic;
    color: #E400C9;
    text-align: center;
}

.container {
    width: 100%;
    height: 72vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    padding: 15px 150px;
}

.enviroment {
    width: 240px;
    height: 240px;
    background-color: cadetblue;
}

#img1 {
    background-image: url(image/19198279.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#img2 {
    background-image: url(image/photo-serious-female-traveler-with-backpack-explores-new-destination-reads-map-while-sits-stone-looks-some-place.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#img3 {
    background-image: url(image/18378.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#img4 {
    background-image: url(image/concentrated-boy-with-binoculars-park.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#img5 {
    background-image: url(image/131425-ORP26D-37.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#img6 {
    background-image: url(image/freedom-traveler-takes-pictures-scenic-nature-view-tries-capture-beautiful-lake-with-mountains-forest-stands-back.jpg);
    background-repeat: repeat;
    background-size: cover;
}








.section-contacts {
    width: 100%;
    height: 100vh;
    background-color: rgb(135, 240, 228);
    padding-top: 120px;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Текстова частина */
.left {
    width: 150%;
    position: relative;
}

h1 {
    color: #28b428;
    font-size: 42px;
    margin-bottom: 10px;
    text-align: right;

}

.text {
    font-size: 24px;
    color: #6e2da1;
    max-width: 100%;
    font-weight: 800pt;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-style: italic;
}

/* Зелений круг */
.circle {
    width: 110px;
    height: 110px;
    background: #88b04b;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -150px;
}

/* ------------------ ФОТО ЯК НА МАКЕТІ ------------------ */

.photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

/* Верхнє ліве фото */
.p1 {
    top: 120px;
    left: -80px;
}

/* Центральне фото */
.p2 {
    top: 240px;
    left: 130px;
}

/* Нижнє фото */
.p3 {
    top: 360px;
    left: -80px;
}

/* -------------------------------------------------------- */

/* Форма */
.form-box {
    width: 80%;
    background: #b4e280;
    padding: 40px;
    border-radius: 25px;
    margin-top: 200px;
    margin-right: -80px;
}

.form-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 15px;
}

button {
    width: 100%;
    padding: 17px;
    background: #7fbf3a;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}